<h1>My Super App</h1>
<p>card works!</p>
<button>Olá Cafumango</button>
<ul>
  <li *ngFor="let p of produtos; let i = index" (click)="remover(i)">
    {{ i }} - {{ p }}
  </li>
  <button (click)="add()">Adicionar</button>
</ul>
<div [ngSwitch]="menuTipe">
  <div *ngSwitchDefault>
    <li>Editar Perfil</li>
    <li>Adicionar Cartão</li>
  </div>
  <div *ngSwitchCase="'admin'">
    <li>Editar Perfil</li>
    <li>Adicionar Cartão</li>
    <li>Gerenciar Usuários</li>
  </div>
  <div *ngSwitchCase="'superuser'">
    <li>Editar Perfil</li>
    <li>Adicionar Cartão</li>
    <li>Gerenciar Usuários</li>
    <li>Gerenciar Admins</li>
  </div>
</div>
